/*分享提示样式*/

/* 下面是顶部tips展示 */
::v-deep .uni-notice-bar {
	width: 100%;
}

.top-notify-tips {
	width: 100%;
	z-index: 9;
	height: 300rpx;
	position: fixed;
	display: flow-root !important;
	margin-top: 0;
}

.debug-top-notify-tips {
	margin-top: 80rpx;
}

::v-deep .uni-noticebar {
	z-index: 99;
	position: fixed;
}

::v-deep .uni-noticebar__content-text {
	height: 60rpx !important;
	line-height: 60rpx !important;
	font-size: 24rpx !important;
}

::v-deep .uni-noticebar__more-text {
	font-size: 24rpx !important;
	height: 50rpx;
	line-height: 50rpx;
	width: 80rpx;
	text-align: center;
	color: #ff5100;
	border: 1px solid #ff5100;
	border-radius: 40rpx;
}